<header class="header">
  <div class="container header__container">
      <a href="./#hero" class="logo">
          <span class="logo__text">TRILO<span>SHIFT</span></span>
      </a>
      <nav class="nav">
        <ul class="nav__list">
            <li><a href="./#hero" class="nav__link">Главная</a></li>
            <li><a href="./#platform" class="nav__link">Платформа</a></li>
            <li><a href="./#benefits" class="nav__link">Выгоды</a></li>
            <li><a href="./#blog" class="nav__link">Блог</a></li>
        </ul>
    </nav>
      <div class="header__actions">
          <a href="./#contact" class="btn btn--primary desktop-cta">Начать сейчас</a>

          <button class="burger" id="burgerBtn">
              <span></span>
              <span></span>
          </button>
      </div>
  </div>
</header>

<div class="mobile-overlay" id="mobileMenu">
  <nav class="mobile-nav">
      <a href="./#hero" class="mobile-link">Главная</a>
      <a href="./#platform" class="mobile-link">Платформа</a>
      <a href="./#blog" class="mobile-link">Блог</a>
      <a href="./#contact" class="btn btn--primary mobile-cta">Начать сейчас</a>
  </nav>
</div>